# ignore categories

*.exe
*.sh
*.png
*.spec
*.zip

*_old

# ignore single files

cloc_to_md.py
structure.txt

# ignore folders

__pycache__
.vscode
build

# ignore distribution files

dist
game.zip
level2image

# ignore test files

test.*

# ignore not used data files

data/*
data/fonts/*
data/saves/*

# ignore not implemented stuff

menus/user_menu.h

# unignore necessary binary files

!level2image.exe

# unignore used data folders

!data/levels
!data/levels/stage_1/*
!data/levels/stage_2/*
!data/levels/stage_3/*
!data/fonts
!data/saves
!data/saves/user
!data/graphics
!data/graphics/*

# unignore used data files

!data/fonts/SugarSnow.ttf
