# ignore categories

*.exe
*.sh
*.png
*.spec
*.zip

*_old

# ignore single files

cloc_to_md.py

# ignore folders

__pycache__
.vscode
build

# ignore distribution files

dist
game.zip

# ignore test files

test.*

# ignore not used data files

data/*

# unignore used data files and folders

!data/images
!data/images/*
!data/fonts/*
